appdirs==1.*
arabic-reshaper==2.*
asgiref==3.*
atomicwrites==1.*
attrs==20.*
Babel==2.*
beautifulsoup4==4.*
Brotli==1.*
certifi==2021.*
cffi==1.*
charset-normalizer==2.*
colorama==0.*
cssselect2==0.*
distlib==0.*
Django==3.*
favicon==0.*
filelock==3.*
fonttools==4.*
future==0.*
gnupg==2.*
hawkeye==0.*
html5lib==1.*
idna==3.*
iniconfig==1.*
invoice-generator==0.*
InvoiceGenerator==1.*
mysqlclient==2.*
packaging==20.*
Pillow==8.*
pluggy==0.*
psutil==5.*
py==1.*
pycparser==2.*
pydyf==0.*
PyMySQL==1.*
pyparsing==2.*
PyPDF2==1.*
pyphen==0.*
pytest==6.*
python-bidi==0.*
pytz==2020.*
qrcode==7.*
qrplatba==0.*
reportlab==3.*
requests==2.*
six==1.*
soupsieve==2.*
sqlparse==0.*
tinycss2==1.*
toml==0.*
urllib3==1.*
virtualenv==20.*
weasyprint==53.*
webencodings==0.*
windows-curses==2.*
xhtml2pdf==0.*
zopfli==0.*
