<div class="l-container">
    <div class="login-page">
      <div class="form">
        <div class="login-bar-reset"><div id="logo" class="logo"><p>ENTER NEW PASSWORD</p></div></div>
          <form class="reset-password-form" method="POST" action="{% url 'change_password' %}">
            {% csrf_token %}  
              <input type='hidden' name='email' value={{email}}>
              <input class="input-email-reset" type='text' name='password' placeholder='Password'>
              <input type='text' name='confirm_password' placeholder='Confirm password'>
            <button type="submit">Submit</button>
          </form>
      </div> 
    </div>   
  </div>