{% extends 'core-login.html' %}
{% block content %}

<div class="l-container">
    <div class="login-page">
      <div class="form" id='reset-password'>
        <div class="login-bar-reset"><p>ENTER EMAIL</p></div>
          <form class="reset-password-form" method="POST">
            {% csrf_token %}  
            <input type="email" class="input-email-reset" placeholder="Email address" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"/>
            <button type="submit">Submit</button>
          </form>
           <p class="message">Remember password? <a href="{% url 'login' %}">Back here</a></p>
      </div> 
    </div>   
  </div>

{% endblock content %}
