{% extends 'core.html' %}
{% block content %}

<div class="container">
    <div class="home">
        {% for item in post_list%}
        <div class="post">
            
            <div class="post-header">
                <div class='title'><A>{{item.1}}</A></div>
                <div class='autor-date'>{{item.2}}</div>

            </div>
            <div class="post-content">
                <p></p>
                
                <form method="post" action="{% url 'read_posts' item.0 %}">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{item.0}}">
                    
                    <button class="more-content"><a >READ</a></button>
                </form>
            </div>
            <div class="post-footer">
                <div class="comments">
                   
                </div>

            </div>
        </div>
{% endfor %}

    </div>
</div>

{% endblock content %}