<nav>
    <div class="navbar-logo"><a href="/blog/my_world/">gentle<span>BLOG</span></a></div>
    <div class="navbar">
        <ul>
            <li><a href='/blog/my_world/'>HOME</a></li>
            <li class="posts"><a>POSTS</a>
                <ul class="dropdown">
                <li><a href='/blog/add_post/'>ADD</a></li>
                <li><a href='/blog/view_all_posts/'>VIEW ALL</a></li>      
                </ul></li>
            
            <li><a>CONTACT</a></li>

            <li><a>ACCOUNT</a><ul class="dropdown" id="dropdownaccount">

                <li>
                    <form action="{% url 'logout' %}" method='post'>
                        {% csrf_token %}
                    <a><button>LOGOUT</button></a>
                    </form>
                </li>
                       
                </ul></li>

        </ul>
    </div>
    
</nav>