<nav>
    <div class="navbar-logo"><a href="/blog/">write<span>NOW</span></a></div>
    <div class="navbar">
        <ul>
            <li><a href='/blog/my_world/'>HOME</a></li>
            <li class="posts"><a>POSTS</a><ul class="dropdown">
                <li><a href='/blog/add_post/'>ADD</a></li>
                <li><a href='/blog/view_all_posts/'>VIEW ALL</a></li> 
                <li><a>SEARCH</a></li>        
            </ul></li>
            
            <li><a>CONTACT</a></li>
            <li><a>ACCOUNT</a></li>

        </ul>
    </div>
    
</nav>