<head><title>Gentle-blog | View all posts</title></head>
{% extends 'core.html' %}

{% block content %}

<div class="container">
   <div class="view-posts">
       
        <div class='view-all-posts-text'>
            VIEW ALL POSTS
        </diV>

    {% for item in post_list%}
        <div class="post">
            
            <div class="post-header">
                <div class='title'><A>{{item.1}}</A></div>
                <div class='autor-date'>{{item.2}}</div>

            </div>
            <div class="post-content">

                <p> </p>

                <button onclick="location.href='{% url 'read_posts' item.0 %}'" class="more-content"><a >CONTINUE</a></button>
            
            </div>
            <div class="post-footer">
                <div class="comments">
                    {% comment %} <div class="comment-count">
                        <a>3 COMMENTS</a>
                    </div> {% endcomment %}
                    
                    {% comment %} <div class='add-comment'>
                        <a>ADD COMMENT</a>
                    </div> {% endcomment %}
                </div>
                <div class="rate">
                    <p>Rate: {{item.3}}</p>
                    {% comment %} <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label> {% endcomment %}
                </div>

            </div>
        </div>
{% endfor %}
   </div>
</div>

{% endblock content %}